{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Main Dashboard</h1>

    <table class="table">
        <tbody>
        {% for post in posts %}
            <tr class='post head'>
                <th>By {{ post.author }} on {{ post.date ? post.date|date('d-M-Y h:i:s') : '' }}</th>
            </tr>
            <tr class='post content'>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                    <br>
                    <br>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="5">no posts found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
